@model Tarifler.Core.Entity.Mesaj

@{
    ViewData["Title"] = "Delete";
}

<div style="display: flex; justify-content: center; align-items: center; flex-direction: column; min-height: 50vh;">
    <h4 class="text-center">Kaydı Silmek İstiyor Musunuz?</h4>
    <hr />
    <div style="width: 70%; border: 1px solid #ccc; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MesajAciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MesajAciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Durum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Durum)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MesajId" />
        <input type="submit" value="Sil" class="btn btn-danger" /> 

    </form>
</div>
</div>